{% extends 'base.html' %}

{% block title %}
	Advance-Search
{% endblock %}

{% block content %}
	<form method="get" action="{% url 'book:advance_search' %}">
		<input type="text" name="bookname_icontain" placeholder="Book Name Contains ...">
		<input type="text" name="bookname_exact" placeholder="Book Name Exact ...">

		<input type="text" name="pubname_icontain" placeholder="Publisher Name Contains ...">
		<input type="text" name="pubname_exact" placeholder="Publisher Name Exact ...">

		<input type="text" name="authorname_icontain" placeholder="Author Name Contains ...">
		<input type="text" name="authorname_exact" placeholder="Author Name Exact ...">

		<input type="submit" value="Search">
	</form>
	<hr>
	{% include 'results.html' %}
	{% include 'paginator.html' %}
{% endblock %}