{% extends 'base.html' %}

{% load custom_tags %}

{% block title %}
	Detail
{% endblock %}

{% block content %}
	
	<img src="{{ book_obj.cover.url }}" alt="book_cover">
	<b>Name: </b>{{ book_obj.name }}
	<b>Desc: </b>{{ book_obj.desc }}
	
	<b>Author: </b>{% for author_obj in book_obj.author.all %}
		{{ author_obj.name }}{% if not forloop.last %},{% endif %}
	{% endfor %}

	<b>Translator: </b>{{ book_obj.translator }}
	<b>Publisher: </b>{{ book_obj.publisher }}

	<b>Category: </b>{% for category_obj in book_obj.category.all %}
		{{ category_obj.name }}{% if not forloop.last %},{% endif %}
	{% endfor %}

	<b>Likes: </b>{% total_likes_dislikes book_obj 'True' %}
	<b>Dis-likes: </b>{% total_likes_dislikes book_obj 'False' %}
	
	<hr>
		<a href="{% url 'book:add_comment' book_obj.slug %}">
			Leave a comment
		</a>

		<a href="{% url 'book:add_to_bookmark' book_obj.slug %}">
			Add to bookmark
		</a>

		<a href="{% url 'extra:like_book' book_obj.slug %}">
			Like
		</a>

		<a href="{% url 'extra:dislike_book' book_obj.slug %}">
			Dislike
		</a>

		{% if book_obj not in loan_obj.books.all %}
		<a href="{% url 'loan:add_to_loan' book_obj.slug %}">
			Add to loan
		</a>
		{% else %}
		<a href="{% url 'loan:remove_from_loan' book_obj.slug %}">
			Remove from loan
		</a>
		{% endif %}

	<hr>

	{% if similar_books %}
		{% for book in similar_books %}
			<img src="{{ book.cover.url }}" alt="book cover">
			{{ book.name }}
			<b>Category: </b>{% for category_obj in book.category.all %}
				{{ category_obj.name }}{% if not forloop.last %},{% endif %}
			{% endfor %}
			<a href="{{ book.get_absolute_url }}">Link</a>
			<br>
		{% endfor %}
	{% endif %}
	
	<hr>
	
	{% if book_obj.comments.all %}
		{% for comment in book_obj.comments.all %}
			<p><b>Username: </b>{{ comment.user.user.username }}</p>
			<p><b>Title: </b>{{ comment.title }}</p>
			<p><b>Content: </b>{{ comment.content }}</p>
			<p><b>Created at: </b>{{ comment.create }}</p>
			<br>
		{% endfor %}
	{% endif %}
{% endblock %}