{% extends 'base.html' %}

{% block title %}
index
{% endblock %}

{% block content %}

<a href="{% url 'book_list' %}">Home</a>{% include 'search_form.html' %}
<a href="{% url 'advance_search' %}">Advance Search</a>
<hr>

{% if filter_field == 'author' %}
	<h1 align="center">{{ filter_object.name }}</h1>
	<p align="center">{{ filter_object.desc }}</p>
{% elif filter_field == 'publisher' %}
	<h1 align="center">{{ filter_object.name }}</h1>
	<p align="center">{{ filter_object.address }}</p>
{% endif %}

{% for book_obj in obj_list %}

	<img src="{{ book_obj.cover.url }}" alt="book_cover">
	<b>Name: </b>{{ book_obj.name }}
	<b>Desc: </b>{{ book_obj.desc|truncatewords:10 }}
	
	<b>Author: </b>{% for author_obj in book_obj.author.all %}
		<a href="{% url 'book_list_with_parameter' 'author' author_obj.slug %}">
			{{ author_obj.name }}
		</a>{% if not forloop.last %},{% endif %}
	{% endfor %}

	<b>Translator: </b>{{ book_obj.translator }}
	<b>Publisher: </b>
	<a href="{% url 'book_list_with_parameter' 'publisher' book_obj.publisher.slug %}">
		{{ book_obj.publisher }}
	</a>

	<b>Category: </b>{% for category_obj in book_obj.category.all %}
		<a href="{% url 'book_list_with_parameter' 'category' category_obj.slug %}">
			{{ category_obj.name }}
		</a>{% if not forloop.last %},{% endif %}
	{% endfor %}
	<b>Detail: </b><a href="{{ book_obj.get_absolute_url }}">Link</a>		
	<hr>

{% endfor %}

{% include 'paginator.html' %}
{% endblock %}